.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container section {
  font-size: 1.2em;
}

.container button {
  margin: 10px;
}
